* {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 49.23px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* headr */
.header-inner {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 32px 16px;
  font-size: 34px;
  font-weight: 700;
  line-height: 49px;
}
.header-inner h1 {
  border: 1px solid #000000;
  padding: 1px 22px;
}
.header-inner ul {
  display: flex;
  column-gap: 18px;
}
a {
  text-decoration: none;
  color: #000000;
}

/* about */
#about {
  margin-top: 72px;
}
  

.about-container {
  max-width: 820px;
  margin: 73px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-container img {
  border-radius: 50%;
}
.about-container h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  margin-left: -20px;
}
.about-container ul {
  list-style-type: disc;
  list-style-position: inside;
  margin-top: 18px;
  line-height: 26px;
  font-size: 18px;
}

/* works */
#works {
  margin-top: 87px;
}
.works-container {
  max-width: 752px;
  margin: 45px auto 0;
  display: flex;
  justify-content: space-between;
}
.works-container figure {
  width: 32%;
}
.works-container figcaption {
  font-size: 18px;
  line-height: 26px;
  margin-top: 5px;
}

/* footer */
footer {
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin: 90px 0 22px;
}

@media(max-width:767px){
  .about-container {
    flex-direction: column;
   }
  .works-container {
    padding: 0 2.5%;
   }
}

@media(max-width:600px){
  h2{
    font-size: 28px;
    line-height: 40px;
  }
   header {
    padding-bottom: 0;
  }
  .header-inner h1 {
    font-size: 28px;
    line-height: 40px;
    padding: 1px 20px;
  }
  .header-inner ul {
    font-size: 21px;
    line-height: 30px;
  }
  #about{
    margin-top: 32px;
  }
  .about-container{
    margin-top: 32px;
  }
  .about-container div:last-child {
    max-width: 80%;
  }
  .works-container {
    margin-top: 21px;
    flex-direction: column;
  }
  .works-container figure {
    width: 100%;
  }
  .works-container figcaption {
    text-align: center;
  }
  .works-container figure:not(:first-child) {
    margin-top: 44px;
  }
  footer {
    margin: 42px 0 0;
  }
}